<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348507863923-2bgmuti5feiltekvjp5jp474nurg898k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348507863923-2bgmuti5feiltekvjp5jp474nurg898k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348507863923-c5kglr916u01p9bnsctca94jfuf4mboc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_klorapM-Qk7oDv48eZ_UoBCH_pXqvJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>348507863923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlMeezan</string>
	<key>PROJECT_ID</key>
	<string>al-meezan-investment</string>
	<key>STORAGE_BUCKET</key>
	<string>al-meezan-investment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348507863923:ios:3fbdd3b4f0fecbd20ee306</string>
	<key>DATABASE_URL</key>
	<string>https://al-meezan-investment.firebaseio.com</string>
</dict>
</plist>